<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="username" type="text" label="30001" default=""  />
	<setting id="password" type="text" label="30002" default=""   option="hidden" />
    <setting id="history"  type="enum" label="30006" default="3" values="5|10|15|20|25|30|40|50|75|100"/>
    <setting id="hdOnly"   type="bool" label="30017" default="false"/>
    <setting id="sortLen"  type="bool" label="30018" default="false"/>
</settings>